<style>
.new-nav{
    margin-left: 220px;
    height:50px;
}
.new-nav a{
    font-size: 19px;
    color: white;
    font-weight: bold;
    line-height: 50px;
    margin-right: 30px;
}
</style>
<section class="hero hero-echo">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left head-logo">
          <a class="nav-item " href="{{ .Site.BaseURL }}">
            <img src="/images/echo.svg" alt="Echo">
          </a>
          <div class="new-nav">
            <a href="/">中文文档</a>
            <a target="_blank" href="https://echo.labstack.com">英文文档</a>
            <a target="_blank" href="https://github.com/labstack/echo">源码</a>
            <a target="_blank" href="https://github.com/eurie-inc/echo-sample">示例</a>
          </div>  
        </div>
        <div class="nav-right nav-menu">
            <!--<div class="nav-item">
            <p class="control has-icon">
              <input id="search-box" class="input" type="text" placeholder="Search">
              <i class="fa fa-search"></i>
            </p>
            </div>-->
          <span class="nav-item">
            <a class="github-button" href="https://github.com/Laily123/echo-intro" data-icon="octicon-star" data-style="mega" data-count-href="/Laily123/echo-intro/stargazers" data-count-api="/repos/Laily123/echo-intro#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star Laily123/echo-intro on GitHub">
              翻译中...
            </a>
          </span>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </header>
  </div>
</section>
