<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <span class="icon">
          <i class="fa fa-rocket"></i>
        </span>
      </div>
      <div class="media-content">
        <p class="title is-5">
          <a href="https://up.labstack.com">
            LabStack Up
          </a>
        </p>
      </div>
    </div>
    <div class="content has-text-centered">
      <p class="subtitle is-6">Real-time file transfer</p>
    </div>
  </div>
</div>
