{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  {{ partial "search-menu.html" . }}
  <section style="margin-top: 40px;">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          {{ partial "menu.html" . }}
        </div>

        <div class="column is-7">
          <article class="content">
            <section>
              {{ .Content }}
            </section>
            <footer style="margin-top: 40px;">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'labstack';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                  var dsq = document.createElement('script');
                  dsq.type = 'text/javascript';
                  dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </footer>
          </article>
        </div>

        <div class="column is-2">
          {{ partial "promotion.html" }}
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</body>

</html>
