<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Echo</strong> by <a href="http://labstack.com">LabStack</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/labstack">
          <i class="fa fa-github"></i>
        </a>
        <a class="icon" href="https://facebook.com/labstack">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="icon" href="https://twitter.com/labstack">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a class="icon" href="https://plus.google.com/+labstack">
          <i class="fa fa-google-plus-square"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    apiKey: '69dfc65b57ccba29ec34b68aa5b274ed',
    indexName: 'labstack',
    inputSelector: '#search-box',
    autocompleteOptions: {
      dropdownMenuContainer: '#search-menu'
    }
  });
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'labstack/echo'
  };
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','{{ .Site.Params.googleAnayticsId }}','auto');ga('send','pageview')
</script>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<script src="/scripts/prism.js"></script>
<script src="/scripts/echo.js"></script>
