<section class="hero hero-echo">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item title" href="{{ .Site.BaseURL }}">
            <img src="/images/echo.svg" alt="Echo">
          </a>
        </div>
        <div class="nav-right nav-menu">
          <div class="nav-item">
            <p class="control has-icon">
              <input id="search-box" class="input" type="text" placeholder="Search">
              <i class="fa fa-search"></i>
            </p>
          </div>
          <span class="nav-item">
            <a class="github-button" href="https://github.com/labstack/echo" data-icon="octicon-star" data-style="mega" data-count-href="/labstack/echo/stargazers" data-count-api="/repos/labstack/echo#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star labstack/echo on GitHub">
              Star
            </a>
          </span>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </header>
  </div>
</section>
